body{
    width: 45%;
    margin: 0 auto;
    background: white;
    /*text-align: center;*/
    /* font-family: "Trebuchet MS", sans-serif; */
    font-family: 'Syne', sans-serif; 
}

.spaced {
    line-height: 1.8;
    margin-top: 15px;
    text-align: left;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.nospace {
    margin-top: 3px;
    text-align: left;
}

ul {
    list-style-type: square; /* Remove default bullets */
    padding-left: 20px; /* Remove padding */
}

.round-image {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-top: 20px; 
    border: 5px solid #ccc; 
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.image-container {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projects-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
